{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="product-list">
    {% for product in latest_posts_list %}
    <div class="product">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p><strong>Price:</strong> {{ product.price }}</p>
        <p><strong>Location:</strong> {{ product.location }}</p>
        <p><strong>Posted by:</strong> {{ product.seller }}</p>
        <button>Add to Cart</button>
    </div>
    {% endfor %}
</div>
{% endblock %}
